:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	--red-color: red;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--top: 0;
	--left: 0;
}
body {
	overflow-x: hidden;
}
.text-_red {
	color: red;
}
.text-_black {
	color: black;
}
.fill-_black {
	fill: black;
}
.fill-_red {
	fill: red;
}
.dimensions {
	height: 170px;
	width: 100%;
}
.center-svg_-md {
	display: none;
}
.center-svg-md {
	display: flex;
}
@media (max-width: 950px) and (orientation: landscape) or (orientation: portrait) {
	#main {
		overflow: hidden;
	}
	.dimensions {
		height: 100px;
	}
	.center-svg_-md {
		display: block;
	}
	.center-svg-md {
		display: none;
	}
	.stack_face_up {
		background-color: #fff;
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;
